div {
  width: 5em;
  height: 5em;
  display: inline-block;
  background-color: #E6D50B;
}

#gameboard {
  width: 36.5em;
  border-right: 2em solid #1E90FF;
  border-left: 2em solid #1E90FF;
  margin-left: auto;
  margin-right: auto;
}

#drop-zone {
  width: 36.5em;
  margin-left: auto;
  margin-right: auto;
}

#top1, #top2, #top3, #top4, #top5, #top6, #top7 {
  background-color: #fff;
}

.drop-hole {
  width: 4.5em;
  height: 4.5em;
  background-color: #fff;
  border-radius: 90%;
  border: 4px solid #fff;
}

.hole {
  width: 4.5em;
  height: 4.5em;
  background-color: #fff;
  border-radius: 90%;
  border: 4px solid #e6d50b;
}

.black-background {
  background-color: #000;
}

.red-background {
  background-color: #ff0000;
}